/*.projects_fillter .filter {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px; 
}

.projects_fillter .filter li {
    display: inline-block;
    margin-right: 30px;
}

.projects_fillter .filter li a {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: #777777; 
}

.projects_fillter .filter li:last-child {
    margin-right: 0px;
}

.projects_fillter .filter li.active a {
    color: #8490ff; 
}
*/
.projects_inner {
    margin-bottom: -30px; 
}
.projects_item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px; 
}

.projects_item:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease; 
}

.projects_item .img-fluid {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px !important;
}

.projects_item .projects_text {
    position: absolute;
    left: 0px;
    bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; 
}

.projects_item .projects_text h4 {
    font-size: 21px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    color: #222222;
    margin-bottom: 5px;
    transition: all 300ms linear 0s;
    text-transform: uppercase;
    cursor: pointer; 
}

.projects_item .projects_text p {
    margin-bottom: 0px;
    font-size: 14px; 
}

.projects_item:hover:before {
    opacity: 1; 
}

.projects_item:hover .projects_text h4 {
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.text {
    font-size: 19px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    color: #222222;
    position: absolute;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
  }
  
  .projects_item:hover .overlay {
    opacity: 1;
  }