/* @import '~bootstrap/scss/bootstrap.scss' */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

body {
  line-height: 26px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.pad_top {
  padding-top: 120px; }

.pad_btm {
  padding-bottom: 120px; }

.mt-25 {
  margin-top: 25px; }

.p0 {
  padding-left: 0px;
  padding-right: 0px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }
.white_bg {
  background: #fff !important; }

/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  margin-bottom: 75px; }
  .main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .main_title p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0px;
    max-width: 570px;
    margin: auto; }
  .main_title.white h2 {
    color: #fff; }
  .main_title.white p {
    color: #fff;
    opacity: .6; }

/* End Main Title Area css
============================================================================================ */

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Header Area css
============================================================================================ */
.header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear; }
    .header_area .navbar {
      background: transparent;
      padding: 0px;
      border: 0px;
      border-radius: 0px; }
      .header_area .navbar .nav .nav-item {
        margin-right: 45px; }
        .header_area .navbar .nav .nav-item .nav-link {
          font: 500 12px/100px "Roboto", sans-serif;
          text-transform: uppercase;
          color: #222222;
          padding: 0px;
          display: inline-block; }
          .header_area .navbar .nav .nav-item .nav-link:after {
            display: none; }
        .header_area .navbar .nav .nav-item.submenu {
          position: relative; }
          .header_area .navbar .nav .nav-item.submenu ul {
            border: none;
            padding: 0px;
            border-radius: 0px;
            box-shadow: none;
            margin: 0px;
            background: #fff; }
            @media (min-width: 992px) {
              .header_area .navbar .nav .nav-item.submenu ul {
                position: absolute;
                top: 120%;
                left: 0px;
                min-width: 200px;
                text-align: left;
                opacity: 0;
                transition: all 300ms ease-in;
                visibility: hidden;
                display: block;
                border: none;
                padding: 0px;
                border-radius: 0px;
                box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4); } }
            .header_area .navbar .nav .nav-item.submenu ul:before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 10px 0 10px;
              border-color: #eeeeee transparent transparent transparent;
              position: absolute;
              right: 24px;
              top: 45px;
              z-index: 3;
              opacity: 0;
              transition: all 400ms linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item {
              display: block;
              float: none;
              margin-right: 0px;
              border-bottom: 1px solid #ededed;
              margin-left: 0px;
              transition: all 0.4s linear; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
                line-height: 45px;
                color: #222222;
                padding: 0px 30px;
                transition: all 150ms linear;
                display: block;
                margin-right: 0px; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
                border-bottom: none; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
                background: #8490ff;
                color: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu:hover ul {
              visibility: visible;
              opacity: 1;
              top: 100%; } }
          .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
            margin-top: 0px; }
        .header_area .navbar .nav .nav-item:last-child {
          margin-right: 0px; }
      .header_area .navbar .search {
        font-size: 12px;
        line-height: 60px;
        display: inline-block;
        color: #222222;
        margin-left: 80px; }
        .header_area .navbar .search i {
          font-weight: 600; }
    .header_area.navbar_fixed .main_menu {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: #fff;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
      .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 70px; }
    @media (min-width: 992px) {
      .header_area.white_menu .navbar .navbar-brand img {
        display: none; }
        .header_area.white_menu .navbar .navbar-brand img + img {
          display: inline-block; } }
    @media (max-width: 991px) {
      .header_area.white_menu .navbar .navbar-brand img {
        display: inline-block; }
        .header_area.white_menu .navbar .navbar-brand img + img {
          display: none; } }
    .header_area.white_menu .navbar .nav .nav-item .nav-link {
      color: #fff; }
    .header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
      display: inline-block; }
      .header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img + img {
        display: none; }
    .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px;
      color: #222222; }
  
  .top_menu {
    background: #ec9d5f; }
    .top_menu .float-left a {
      line-height: 40px;
      display: inline-block;
      color: #fff;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      margin-right: 50px;
      transition: all 300ms linear 0s; }
      .top_menu .float-left a:last-child {
        margin-right: 0px; }
      .top_menu .float-left a:hover {
        color: #8490ff; }
    .top_menu .float-right .pur_btn {
      background: #8490ff;
      color: #fff;
      font-family: "Roboto", sans-serif;
      line-height: 40px;
      display: block;
      padding: 0px 40px;
      font-weight: 500;
      font-size: 12px; }
  
  /*---------------------------------------------------- */
  /*----------------------------------------------------*/
  /* Home Banner Area css
  ============================================================================================ */
.banner_box {
max-width: 1620px;
margin: auto; }

.banner_area {
position: relative;
z-index: 1;
min-height: 430px; }
.banner_area .banner_inner {
position: relative;
overflow: hidden;
width: 100%;
min-height: 430px;
background: #f9f9ff;
z-index: 1; }
.banner_area .banner_inner .banner_content {
  margin-top: 70px; }
  .banner_area .banner_inner .banner_content h2 {
    color: #222222;
    font-size: 36px;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold; }
  .banner_area .banner_inner .banner_content .page_link a {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
    margin-right: 32px;
    position: relative; }
    .banner_area .banner_inner .banner_content .page_link a:before {
      content: "\e87a";
      font-family: 'Linearicons-Free';
      font-size: 14px;
      position: absolute;
      right: -25px;
      top: 54%;
      transform: translateY(-50%); }
    .banner_area .banner_inner .banner_content .page_link a:last-child {
      margin-right: 0px; }
      .banner_area .banner_inner .banner_content .page_link a:last-child:before {
        display: none; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Footer Area css
============================================================================================ */
.footer_area {
  background: #000410; }

.f_title {
  margin-bottom: 35px; }
  .f_title h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px;
    text-transform: uppercase; }

.ab_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 30px; }
  .ab_widget p a {
    color: #8490ff; }
  .ab_widget p + p {
    margin-bottom: 0px; }

.news_widget {
  padding-left: 15px; }
  .news_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 15px; }
  .news_widget .input-group input {
    height: 40px;
    background: #fff;
    border-radius: 0px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #cccccc;
    outline: none;
    box-shadow: none; }
    .news_widget .input-group input.placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input:-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input::-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
    .news_widget .input-group input::-webkit-input-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #cccccc; }
  .news_widget .input-group .sub-btn {
    border-radius: 0px;
    background-image: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background-image: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background-image: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    outline: none !important;
    box-shadow: none !important;
    padding: 0px;
    width: 42px;
    cursor: pointer;
    color: #fff; }

.social_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 10px; }
.social_widget .list li {
  margin-right: 17px;
  display: inline-block; }
  .social_widget .list li a {
    color: #cccccc;
    font-size: 14px;
    transition: all 300ms linear 0s; }
  .social_widget .list li:last-child {
    margin-right: 0px; }
  .social_widget .list li:hover a {
    color: #8490ff; }

.copy_right_text {
  text-align: center;
  margin-top: 60px; }
  .copy_right_text p a {
    color: #8490ff; }

/*---------------------------------------------------- */
/*---------------------------------------------------- */
/*# sourceMappingURL=style.css.map */
